body{
    background-color: var(--cor-principal);
    overflow-x: hidden;
    
}

#topo{
    text-align: center;
    display: inline-flex;
    width: 100%;
    height: 150px;
}

#whatsapp{
    background-color: #25D366;
    border-radius: 25px;
    padding: 2px;
    font-weight: bold;
    width: 25px;
    height: 25px;

}
#instagram{
    background-color: #ca04d9;
    padding: 2px;
    border-radius: 2px
}


.bi-lightning{
    width: 100%;
    height:90%;
    margin-top: 5%;
}

figure{
    margin-left: 20px;
    width: 275px;
}
#logo{
    width: 400px;
    border-radius: 15px;
    opacity: 1;
    margin-top: -25px;
}
#contato{
    background-color: var(--cor-secundaria);
    font-weight: bold;
    padding: 5px;
    border-radius: 15px;
    position: fixed;
    right: 2.5%;
    top:85px;
    z-index: 1;
}
a:hover{
    cursor: pointer;
}

.list-inline-item > span{
    color:black;
    font-size: 12px
    
    }

@media (max-width: 767px), (orientation: portrait) {
  
    #topo{
        display: block;
    }
    nav{
        margin-top: 75px;
    }
    figure{
        margin: auto;
    }
    .navbar{
        height: 100px;
    }
    #logo{
        margin-left:-22%;
        z-index: 1;
    }

    .element3, .element2, .element1 {
        visibility: hidden;
        animation-name: none;
    }

    .animated-element{
        animation-name: none;
    }
    footer{
        position: fixed;
        bottom: 0;
        left: 30%;
    }
}


a{
    transition: 1s all;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    text-align: center;
}

p{
    line-height: 55px;
    height: 100%;
    width: 100%;
    transition: 1s all;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color: var(--cor-secundaria);
}
a > p:hover{
    color: #ffffff;
    transition: 1s all;
    cursor: pointer;
}

.nav-link:hover{
    background-color: var(--cor-apoio) ;
    transition: 1s all;
    text-shadow: 2px 2px 2px #000000;
}


.navbar-nav {
    margin: 0 auto;
}

.nav-link:active {
    transform: scale(0.8);
    transition: 0.1s all;
}

main{
    padding: 25px;
    background-color: var(--cor-principal);
    width: 95%;
    margin: 50px auto 100px;
}
.principal{
    border-radius: 10px;
    border: 4px solid var(--cor-secundaria);
}

main > .container > section {
    margin-top: 40px;
    margin-bottom: -15px;
}

main > .container > section > p {
    font-size:18px;
    color: var(--cor-secundaria);
    font-weight: bold;
    height: 75px;
    line-height: 25px;
    text-align: center;
    margin-bottom:-10px;
    
}

footer{
    text-align: center;
}
/*
transition: color 1.5s linear 0.5s;
transition: color 1s linear, font-size 750ms ease-in 100ms;
 */

/*object{*/
/*    width: 100%;*/
/*    height: 275px;*/
/*}*/

.animated-element {
    position: absolute;
    top: 25px;
    left: 0;
    width: 45px;
    height: 45px;
    background-color: #007bff;
    border-radius: 50%;

}

.element1 {
    animation: moveAnimation1 8s infinite forwards;
}

.element2 {
    animation: moveAnimation2 8s infinite forwards;
}

.element3 {
    animation: moveAnimation3 8s infinite forwards;
}

@keyframes moveAnimation1 {
    0% {
        left: -5%;
    }
    15% {
        left: 50%;
    }
    50%{
        left: 50%;
    }
    65%{
        left: 100%;
    }
    100% {
        left: 100%;
    }


}

@keyframes moveAnimation2 {
    0% {
        left: -5%;
    }
    5%{
        left: -5%;
    }
    20% {
        left: 50%;
    }
    55%{
        left: 50%;
    }
    70%{
        left: 100%;
    }
    100% {
        left: 100%;
    }

}



@keyframes moveAnimation3 {
    0% {
        left: -5%;
    }
    10%{
        left: -5%;
    }
    25% {
        left: 50%;
    }
    60%{
        left: 50%;
    }
    75%{
        left: 100%;
    }
    100% {
        left: 100%;
    }
}


#dt-atualizacao{
    font-size: 14px;
}

#devby {
    color: var(--cor-secundaria);
    font-size: 16px;
}

