body{
    background-color: var(--cor-principal);
}
#topo{
    text-align: center;
    background-color: var(--cor-principal);
    color: silver;
    display: inline-flex;
    width: 100%;
    height: 150px;
}
header{
    background-color: var(--cor-principal);
}
#whatsapp{
    background-color: greenyellow;
    border-radius: 25px;
    padding: 2px;
    font-weight: bold;
}
#instagram{
    background-color: #ca04d9;
    padding: 2px;
    border-radius: 2px;
}
nav{
    background: var(--cor-principal);;

}

figure{
    margin-left: 20px;
    width: 275px;
}
#logo{
    width: 275px;
    border-radius: 15px;
    opacity: 1;
    margin-top: -25px;
}
#contato{
    margin: auto 2% auto auto;
}
@media (max-width: 767px), (orientation: portrait) {
    #topo{
        display: block;
    }
    figure{
        margin: auto;
    }
    .navbar{
        height: 200px;
    }
}

a{
    transition: 1s all;
    border-radius: 10px;
    width: 200px;
    height: 70px;
    text-align: center;
}

p{
    line-height: 55px;
    height: 100%;
    width: 100%;
    transition: 1s all;
    font-weight: bold;
    font-family: Arial;
    font-size: 20px;
    color: var(--cor-secundaria);
}
a > p:hover{
    color: #ffffff;
    transition: 1s all;
}

a:hover{
    background-color: #0066ff  ;
    transition: 1s all;
}

.navbar-nav{
    margin: 0 auto;
}
a:active{
    transform: scale(0.8);
    transition: 0.1s all;
}

main{
    background-color: var(--cor-letra);
    width: 98%;
    margin-left: 1%;
    border-radius: 10px;
    height: 850px; /*RETIRAR*/
}

footer{
    text-align: center;
}
/*
transition: color 1.5s linear 0.5s;
transition: color 1s linear, font-size 750ms ease-in 100ms;
 */

object{
    width: 100%;
    height: 275px;
}

#whats {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    /* Adicione a imagem do ícone do WhatsApp como background */
    background-image: url("https://i.pinimg.com/originals/7e/68/35/7e68352dbb78715ab8d44d647164cff8.png");
    background-size: cover;
    cursor: pointer;
}